[Unit]
Description=NNS FreeplayBatteryDaemon
After=basic.target
#After=meadiacenter.service

[Service]
# If User and Group are not specified, then by default systemd ExecStart runs as root
User=root
Group=root
Type=simple
ExecStart=/home/pi/NNS/FreeplayBatteryDaemon/nns-freeplay-battery-daemon -i2caddr 0x4d -adcvref 4.5 -adcres 4096
TimeoutStartSec=0
# write to journal or within script to separate log file
# StandardOutput=/home/pi/NNS/FreeplayBatteryDaemon/nns-freeplay-battery-daemon-out.log
# StandardError=/home/pi/NNS/FreeplayBatteryDaemon/nns-freeplay-battery-daemon-err.log
Restart=always

[Install]
WantedBy=multi-user.target
